* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 font-family: Arial;
}
h1, h2, h3, h4, h5, h6, p {
 margin: 16px;
}
nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav .links {
    width: 500px;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
nav a:hover {
    color: palevioletred;
}
.hero {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/home.jpg);
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.hero .homeHero {
    color: white;
    margin: 0 auto;
    text-align: center;
}
.hero .homeHero h1 {
    font-size: 50px;
}
.hero .homeHero p {
    font-size: 20px;
    margin-bottom: 50px;
}

.hero .homeHero span {
    background-color: palevioletred;
    padding: 15px 25px;
    cursor: pointer;
}

.hero .homeHero span:hover {
    background-color: white;
    padding: 15px 25px;
    color: palevioletred;
    cursor: pointer;
}

.home .header {
    margin-top: 30px;
    margin-bottom: 45px;
    color: palevioletred;
    font-size: 35px;
    text-align: center;
}

.home .imgHolder {
    margin: 0 auto;
    width: 85%;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.home .imgHolder .imgBox {
    /* background-color: blue; */
    height: 300px;
    width: 25%;
    background-size: cover;
    background-position: center;
}

.page {
    min-height: 500px;
}

.page .header {
    /* background-color: red; */
    margin: 0 auto;
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 30px;
    margin-bottom: 45px;
}

.wrapper {
    margin: 0 auto;
    width: 75%;
    min-height: 500px;
}

.wrapper .aboutText {
    text-align: center;
    font-size: 18px;
}

.wrapper h1 {
    color: palevioletred;
    margin-bottom: 30px;
}

.wrapper h2 {
    color: palevioletred;
}

.wrapper span {
    color: palevioletred;
}

.wrapper .aboutText .info {
   margin-bottom: 35px;
}

.wrapper .aboutText .button {
        background-color: palevioletred;
        color: white;
        padding: 15px 25px;
        cursor: pointer;
}
.wrapper .aboutText .button:hover {
        background-color: white;
        border: 2px solid palevioletred;
        padding: 15px 25px;
        color: palevioletred;
        cursor: pointer;
    }

    .wrapper .aboutText .aboutChef {
       margin-top: 50px;
    }

.wrapper .chefHolder {
    /* background-color: red; */
    margin-top: 50px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.wrapper .chefHolder .chefBox {
    /* background-color: aqua; */
    width: 25%;
    height: 100%;
}

.wrapper .chefHolder .chefBox .chefImg{
    background-color: pink;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
}

.wrapper .boxes {
    text-align: center;
    margin-bottom: 50px;
}

.servicesHolder {
    margin-top: 30px;
    /* background-color: aquamarine; */
    height: 300px;
    display: flex;
    margin-bottom: 50px;
}

.servicesHolder .servicesPic {
    width: 25%;
    height: 100%;
    background-color: red;
    background-position: center;
    background-size: cover;
}

.servicesHolder .servicesText {
    width: 60%;
}

.wrapper .servicesHolder .servicesText .book {
    background-color: palevioletred;
    color: white;
    height: 40px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 17px;
}
.wrapper .servicesHolder .servicesText .book:hover {
    background-color: white;
    border: 2px solid palevioletred;
    color: palevioletred;
    cursor: pointer;
}


.candy1 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/more2.jpeg);
}

.candy2 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/gummies.jpeg);
}

.candy3 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/more.jpeg);
}

.aboutPic {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/about.jpeg);
}

.chef1 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/chef1.jpeg);
}

.chef2 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/chef2.jpeg);
}

.chef3 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/chef3.jpeg);
}

.services {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/services.jpg);
}

.service1 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/service1.jpeg);
}

.service2 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/service2.jpg);
}

.custom {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/custom.jpeg);
}

footer {
    margin-top: 100px;
    height: 75px;
    background-color: palevioletred;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}