* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 font-family: Arial;
}
h1, h2, h3, h4, h5, h6, p {
 margin: 16px;
}
nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav .links {
    width: 500px;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
nav a:hover {
    color: palevioletred;
}
.hero {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/home.jpg);
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.hero .homeHero {
    color: white;
    margin: 0 auto;
    text-align: center;
}
.hero .homeHero h1 {
    font-size: 50px;
}
.hero .homeHero p {
    font-size: 20px;
    margin-bottom: 50px;
}

.hero .homeHero span {
    background-color: palevioletred;
    padding: 15px 25px;
    cursor: pointer;
}

.hero .homeHero span:hover {
    background-color: white;
    padding: 15px 25px;
    color: palevioletred;
    cursor: pointer;
}

.home .header {
    margin-top: 30px;
    margin-bottom: 45px;
    color: palevioletred;
    font-size: 35px;
    text-align: center;
}

.home .imgHolder {
    margin: 0 auto;
    width: 85%;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.home .imgHolder .imgBox {
    /* background-color: blue; */
    height: 300px;
    width: 350px;
    background-size: cover;
    background-position: center;
}

.candy1 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/more2.jpeg);
}

.candy2 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/gummies.jpeg);
}

.candy3 {
    background: linear-gradient(rgba(255,255,255, .2), rgba(255,255,255,0.2)), url(../images/more.jpeg);
}

footer {
    margin-top: 100px;
    height: 75px;
    background-color: palevioletred;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}